// Main palette
$white: #fff;
$black: #000;
$purple: #5640a6;
$yellow: #d2d117;
$grey: #929292;
$text: #4a4a4a;
$blue: #02356b;
// Secondary palette
$purple_overlay: #5640a630;
$purple_light: #5640a68a;
$blue_light: #afbecf;
$yellow_light: #dad70e45;
$green_dark: #05110c;
$yellow_dark: #b1b010;
$black_light: rgba(0, 0, 0, 0.461);

// Hover palette
$button_hover: #512bdb;
$grey_light: #9292928c;
