@import "./reset";

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,800;0,900;1,400&display=swap");

.form {
  font-size: 18px;
  color: #fff;
  font-family: "Montserrat";
}

.container {
  min-height: 100vh;
  display: flex;
}

.wrapper {
  width: 50vw;
  height: 100vh;
}

.wrap {
  background: url("@assets/img/css-backgrounds/auth_bg.jpg") no-repeat 0 0;
  height: 100%;
}

.form-auth {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: #5c4353;
  border-radius: 8px;
  padding: 20px 30px;
  max-height: 400px;
  max-width: 350px;
  margin-top: 250px;
  box-sizing: content-box;
}

.form__title {
  text-align: center;
  font-size: 24px;
  padding-top: 40px;
  margin-bottom: 25px;
  font-weight: 600;
  font-style: italic;
}

.title {
  margin-bottom: 5px;
  font-style: italic;
}

.input {
  margin-bottom: 20px;
  height: 30px;
  border-radius: 8px;
  padding-left: 8px;
  font-size: 20px;
  border: none;
}
.form__btn {
  height: 25px;
  height: 35px;
  border-radius: 8px;
  font-size: 20px;
  transition: 0.3s;
  letter-spacing: 1px;
  border: none;
}

.form__btn:hover {
  background-color: #e1c0ba;
  color: #fff;
}

.errors {
  margin-top: -5px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: percentlh(24, 18);
  letter-spacing: -0.500211px;
  font-weight: 700;
}

@media (max-width: 855px) {
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    width: 100vw;
    height: 200px;
  }

  .form-auth {
    background: #070a27de;
    padding: 0 15px;
    min-height: 400px;
    min-width: 300px;
    margin-top: 100px;
    box-sizing: border-box;
  }
  .form__btn:hover {
    background-color: rgb(227, 219, 255);
    color: #000;
  }
}

@media (max-width: 400px) {
  .form-auth {
    width: 300px;
  }
}
